<div class="container p-5">
  <header class="flex items-center justify-between">
    <div
      class="hover:text-green-500 transition-colors duration-300 ease-in-out cursor-pointer bg-green-500/10 px-5 py-2 rounded shadow-xl shadow-green-500/15"
    >
      LOGO hover
    </div>
    <ul class="flex items-center gap-10">
      <li>Menu</li>
      <li>Container</li>
      <li>Flex</li>
    </ul>
    <button class="animate-pulse">BUTTON animation</button>
  </header>
  <section class="grid grid-cols-3 gap-10 mt-10">
    <div>GRID</div>
    <div>FILTERS</div>
    <div class="rotate-180">ROTATE</div>
    <div class="blur-md">BLUR</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
    <div>IMAGE</div>
  </section>
</div>
